@import url('https://fonts.googleapis.com/css?family=Ubuntu:500&display=swap');

     /*  body{ 
           background-color:darkgray ;
           display: block;
           font-family: sans-serif;
           -webkit-text-size-adjust: 100%;
           -ms-text-size-adjust: 100%;
           margin: 50px 50spx ;
           overflow: auto;


           
           
        }
        nav ul li a{ 
            color:rgb(38, 0, 255);
           text-decoration: none;
           text-align: center;
        }
         ul li a{
            text-align: center;
             color :blue ;

        }
       nav ul li { display: inline-block;
                   padding:0 15px ; 
                   text-align: center;}



        }
        header{
            text-align: center;
            
            background-color: beige;
            padding:2px 23px;
            border:1px solid #bcb9b9;
            height: 100px;
            margin: 20px 0;
            width: fit-content;




        }
        footer{
            padding 2px 23px;
            background-color: beige;
            border:1px solid #bcb9b9;
            text-align: center;

        }
        main{
             height: 289px;
            background:red;
            margin: 20px 0;
            padding: 10px 23px;
            overflow :auto;

        }
        
        }
*/


table, th, td {
    border: 5px  black;
    border-collapse: collapse;
    border-radius: 3em;
  }

  th, td {
    padding: 15px;
    text-align: center;
  }


  th {
    text-align: center;
  }

  table {
    border-spacing: 5px;
  }

  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
    background-color: #fff;
  }
  table#t01 th {
    color: white;
    background-color: black;
  }


.my-header img {
    float: left;
    width: 140px;
    height: 110px;
    margin-top: -20px;
    margin-right: -15px;
    margin-left: -14px;
  }
  
  .my-header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }

body{

    font-family: ubuntu;
    font-size: 20px;
    line-height: 30px;
    word-spacing: 1.5px;
    height: 1000px;
    

}



header.my-header {
    padding: 22px 30px 60px;
    background-color: black;
    color: floralwhite;
    position: sticky;
    top: 0;
}
nav ul li {
    display: inline-block;
}



nav ul li a {
    padding: 0px 10px;
    color:floralwhite;
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
}

h1.logo {
    float: none;
}
.my-nav{  
    float: right;
}


#About {
    color: floralwhite;
    height: 350px;
    padding-top: 120px;
    text-align: -webkit-center;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 10px;
    color: chartreuse;
}

section#Training {
    padding: 20px 40px;
    height: 500px;
}
.training-list {

    
        display: inline-block;
        width: 235px;
        padding: 0px 5px;
        background-color: maroon;
        float: left;
        margin-right: 5px;
        height: 380px;
        font-size: 24px;
        text-align: center;
        margin-top: 15px;
    }



    #HoursOpen {
        text-align: -webkit-center;
    }


   
h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    padding-bottom: 70px;
}

p {
    
    font-size: 18px;
    line-height: 25px;
}

.textcenter{
text-align: center;

}
/*.color{

    color: black;
}
*/

#Experience {
    color: floralwhite;
    height: 200px;
    padding: 10px 0px 20px 10px;
    
    line-height: 40px;
}

#MySkills {
    height: 400px;
    color: floralwhite;
    line-height: 40px;
    padding: 10px 0px 20px 10px;
}

  .backgroundimg{

  }

  #Training {
    color: floralwhite;
}
#Contactme {
    color: floralwhite;
    height: 270px;
    line-height: 40px;
    padding: 10px 0px 20px 10px;
}
footer ul li a {
    text-decoration: none;
    color: floralwhite;
    padding: 10px 0px 20px 10px;
}

footer ul li a:hover {
    color: darkred;
}
#middle {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 400px;
    margin-top: 65px;
    border:3px solid #999;
    background-color:#333;
    }

#middlecontent {
    font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 10px;
}

iframe#frame1 {
    margin-top: 50px;
    /* padding: 0px 0px 0px 200px; */
    margin-top: 12px;
    margin-bottom: 40px;
    margin-left: 202px;
}

iframe#frame2 {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
}
iframe#frame3 {
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 255px;
}

iframe#frame4 {
    margin-bottom: 60px;
    margin-left: 205px;
}

iframe#frame5 {
    margin-bottom: 40px;
    margin-left: 80px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    display: flex;
  }
  
  /* Clear floats after image containers */
  .row {
    display: flex;
  }

  section#Products {
    margin-left: 50px;
}